<ons-page ng-controller="MainPageController as vm">
    <ons-toolbar>
        <div class="center">Navigation</div>
        <div class="right">Faves</div>
    </ons-toolbar>

    <ons-row>
        <ons-col width="5%"></ons-col>
        <ons-col width="90%">
            <p>Use the form below to search for houses to buy. You can search by place-name, postcode, or click 'My location', to search in your current location!</p>
        </ons-col>
    </ons-row>

    <ons-row id="search-properties-container">
        <ons-col width="5%"></ons-col>
        <ons-col width="90%">
            <ons-input ng-model="vm.searchTerm" float placeholder="search"></ons-input>
        </ons-col>
    </ons-row>

     <ons-row ng-if="vm.loading">
        <ons-col width="5%"></ons-col>
        <ons-col width="90%">
            <ons-progress-bar indeterminate></ons-progress-bar>
        </ons-col>
    </ons-row>

    <ons-row ng-if="!vm.loading">
        <ons-col width="5%"></ons-col>
        <ons-col width="40%">
            <ons-button class="btn-green" modifier="large" ng-click="vm.searchByTerm()">Go</ons-button>
        </ons-col>
        <ons-col width="10%"></ons-col>
        <ons-col width="40%">
            <ons-button class="btn-indigo" modifier='large'>My location</ons-button>
        </ons-col>
    </ons-row>

    <ons-list style="margin-top: 15px">
        <ons-list-header>Recent searches:</ons-list-header>
        <ons-list-item tappable modifier="longdivider">
            <div class="list__item__left">
                leeds
            </div>
            <div class="list__item__right">
                <span class="badge">3364</span>
            </div>
        </ons-list-item>
        <ons-list-item tappable modifier="longdivider">
            <div class="list__item__left">
                london
            </div>
            <div class="list__item__right">
                <span class="badge">44966</span>
            </div>
        </ons-list-item>
        <ons-list-item tappable modifier="longdivider">
            <div class="list__item__left">
                liverpool
            </div>
            <div class="list__item__right">
                <span class="badge">6883</span>
            </div>
        </ons-list-item>
    </ons-list>
    
</ons-page>
